using '../main.bicep'

param environmentName = 'dev'
param location = 'southeastasia'
param resourcePrefix = 'billsoft'
param sqlDatabaseName = 'BillSoftDb'
param sqlAdministratorLogin = 'billsoftsqladmin'
param appServiceSkuName = 'F1'
param appServiceSkuTier = 'Free'
param sqlDatabaseSkuName = 'Basic'
param sqlDatabaseTier = 'Basic'
param sqlDatabaseCapacity = 5
param staticWebAppSkuName = 'Free'
param staticWebAppLocation = 'eastus2'
param enableKeyVault = false
param enableMonitoring = false
param tags = {
  application: 'BillSoft'
  environment: 'dev'
  managedBy: 'AzureDevOps'
}
